services:
  web:
    build:
      context: ./docker/apache
      dockerfile: Dockerfile
    container_name: selectworks-apache
    volumes:
      - ./src:/var/www
    ports:
      - "8000:80"
    depends_on:
      - db


  phpmyadmin:
    build:
      context: ./docker/phpmyadmin
      dockerfile: Dockerfile
    container_name: selectworks-phpmyadmin
    restart: always
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: root
    depends_on:
      - db


  db:
    image: mysql:8.0
    container_name: selectworks-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: selectworks
      MYSQL_USER: selectworks
      MYSQL_PASSWORD: selectworks
    ports:
      - "3306:3306"
    volumes:
      - dbdata:/var/lib/mysql

volumes:
  dbdata:
